{% extends "base.html" %}

{% block content %}
<h1>TODO list <a href="{% url 'todo:task-create' %}" class="btn btn-primary float-right">Add task</a></h1>
  <br>
<div class="task-list">
    {% for task in task_list %}
    <div class="task">
        <h3>
            {{ task.content }}
            <span class="status {% if task.completed %}text-success{% else %}text-danger{% endif %}">
                {% if task.completed %}Done{% else %}Not done{% endif %}
            </span>
            <a href="{% url 'todo:task-status-update' task.id %}" class="btn {% if task.completed %}btn-secondary{% else %}btn-success{% endif %} float-right">
                {% if task.completed %}Undo{% else %}Complete{% endif %}
            </a>
        </h3>
        <p>Created: {{ task.created_at }}{% if task.deadline %}. Deadline: <span class="text-danger">{{ task.deadline }}</span>{% endif %}</p>
        <p>Tags: {% for tag in task.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
          <a href="{% url 'todo:task-update' task.id %}" class="btn btn-link">Update</a>
          <a href="{% url 'todo:task-delete' task.id %}" class="btn btn-link text-danger">Delete</a>
        </p>
    <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}
